#navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 2.5rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
}
.container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.navContainer {
    padding: 15px;
    min-height: 80px;
    width: 100%;
    background-size: 100% 100%;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#navLogo {
    color: white;
    font-size: 2.8rem;
}
a {
    text-decoration: none;
    color: white;
}
#navLinks {
    display: flex;
    gap: 40px;
}
.footerBox {
    width: 100%;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    min-height: 40px;
}
.footerBox p {
    color: white;
    font-size: 2rem;
}
.contentBox {
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: white;
}
.item {
    display: flex;
    justify-content: space-between;
}
img {
    width: 400px;
    height: 200px;
}