body {
  background-color: black;
  color: white;
}

.buttonsCalc {
  padding: 10px;
  margin: 0px 3px;
  color: white;
  font-size: x-large;
  font-weight: 500;
  background-color: rgb(51, 51, 51);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  cursor: yellow;
}

.clear {
  font-size: medium;
}

.yellow {
  background: orange;
}

.calculatorOnScreen {
  margin: 15px 3px 0px 0px;
  font-size: 45px;
  font-weight: bold;
}
