* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono Nerd Font", monospace;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
}

div {
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
